@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: 103 100% 100%;
  --foreground: 103 5% 10%;
  --card: 103 50% 100%;
  --card-foreground: 103 5% 15%;
  --popover: 103 100% 100%;
  --popover-foreground: 103 100% 10%;
  --primary: 103 51.1% 45.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 103 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 65 30% 95%;
  --muted-foreground: 103 5% 40%;
  --accent: 65 30% 90%;
  --accent-foreground: 103 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 103 5% 100%;
  --border: 103 30% 82%;
  --input: 103 30% 50%;
  --ring: 103 51.1% 45.7%;
  --radius: 0.5rem;
}
.dark {
  --background: 103 50% 10%;
  --foreground: 103 5% 100%;
  --card: 103 50% 10%;
  --card-foreground: 103 5% 100%;
  --popover: 103 50% 5%;
  --popover-foreground: 103 5% 100%;
  --primary: 103 51.1% 45.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 103 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 65 30% 25%;
  --muted-foreground: 103 5% 65%;
  --accent: 65 30% 25%;
  --accent-foreground: 103 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 103 5% 100%;
  --border: 103 30% 50%;
  --input: 103 30% 50%;
  --ring: 103 51.1% 45.7%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
